.about__body {
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
}

.about__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  text-align: center;
  margin-bottom: 50px;
}
.about__facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__fact {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 120px;
  margin-right: 38px;
}

.about__fact:last-child {
  margin-right: 0;
}

.about__number {
  font-weight: bold;
  font-size: 28px;
  line-height: 136%;
  text-align: center;
  letter-spacing: -1.27273px;
  color: #0ad9c6;
}

.about__text {
  font-size: 22px;
  line-height: 155%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #000000;
}
