@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
  .header {
    height: 100vh;
  }

  .header__wrapper {
    height: 50%;
    background: url(../img/bike.jpg) center no-repeat #1f1f1f;
    background-size: cover;
    position: absolute;
    top: 0;
  }

  .header__body {
    padding-top: 20%;
  }

  .logo {
    position: absolute;
    left: 22px;
    top: 25px;
    z-index: 1;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #0ad9c6;
  }

  .header__burger span {
    position: absolute;
    background-color: #000000;
    width: 22.5px;
    height: 1px;
    left: 13.75px;
    top: 24.75px;
    z-index: 10;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: " ";
    position: absolute;
    background-color: #000000;
    width: 22.5px;
    height: 1px;
    left: 13.75px;
    z-index: 10;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before {
    top: 18.5px;
    z-index: 10;
  }
  .header__burger:after {
    bottom: 18px;
    z-index: 10;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    background-color: #48494d;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 18.5px;
    background-color: #48494d;
  }
  .menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.2s ease 0s;
  }

  .menu.active {
    right: 0;
    z-index: 2;
  }
  .menu__list {
    flex-direction: column;
    padding: 100px 0 138px 0;
  }
  .menu__link {
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #48494d;
  }

  .menu__li {
    position: relative;
  }

  .menu__li::after {
    content: url(../img/Shape.svg);
    display: inline-block;
    width: 12px;
    height: 7.4px;
    position: absolute;
    right: 25px;
    z-index: 2;
  }

  .menu__list li {
    background: #f6f6f6;
    padding: 17px 16px;
    margin-bottom: 30px;
  }

  .shop {
    flex-direction: column;
  }

  .shop__info {
    width: 100%;
    flex: 0;
    align-self: center;
  }
  .shop__title,
  .shop__text {
    text-align: center;
  }

  .shop__title {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .shop__text {
    height: 96px;
    font-size: 18px;
    line-height: 178%;
  }

  .form {
    width: 70%;
    margin: 150px auto 70px;
  }

  .form__name {
    font-size: 18px;
    line-height: 156%;
    color: #000000;
  }
}

@media only screen and (max-width: 767px) {
  .header__wrapper {
    height: 60%;
    background: url(../img/bike.jpg) top center no-repeat #1f1f1f;
    background-size: cover;
    position: absolute;
    top: 0;
  }

  .header__body {
    width: 100%;
    padding-top:120px;
  }

  .logo {
    left: 16px;
    top: 15px;
  }

  .shop__info {
    width: 90%;
    flex: 0;
    margin-right: 0px;
  }
  .shop__title,
  .shop__text {
    text-align: center;
  }

  .shop__title {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .form {
    width: 74%;
    margin: 170px auto 70px;
  }

  .form__name {
    font-size: 18px;
    line-height: 156%;
    color: #000000;
  }
}
