@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.header__wrapper {
  width: 100%;
  height: 100%;
  background: url(../img/bike.jpg) center top no-repeat #1f1f1f;
  background-size: cover;
  position: absolute;
  top: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 80%;
  margin: auto;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.menu {
  position: relative;
}

.menu::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu__list,
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 21px 21px 9px 19px;
}

.menu__link {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.005em;
  opacity: 0.7;
  cursor: pointer;
}

.menu__link:hover {
  color: #0ad9c6;
}

.menu__arrow {
  display: inline-block;
}

.shop {
  width: 100%;
}

.shop__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin-right: 30px;
}

.shop__logo {
  margin-bottom: 31px;
}

.shop__title {
  font-weight: bold;
  font-size: 46px;
  line-height: 139%;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-bottom: 24px;
}

.shop__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.form {
  width: 40%;
}

.form__name {
  font-weight: 600;
  font-size: 17px;
  line-height: 165%;
  text-align: center;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  margin-bottom: 20px;
}

.form__field {
  width: 100%;
  height: 48px;
  font-size: 15px;
  line-height: 160%;
  color: #1c1c1c;
  background: #ffffff;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 30px;
  margin-bottom: 20px;
}

.form__field:hover {
  border: 3px solid #0ad9c6;
  padding: 14px 28px;
}

.form__field:hover::-webkit-input-placeholder {
  color: #000000;
}

.form__field:hover:-moz-placeholder {
  color: #000000;
}

.form__field:hover::-moz-placeholder {
  color: #000000;
}

.form__field:hover:-ms-input-placeholder {
  color: #000000;
}

.form__field:focus {
  border: 3px solid #0ad9c6;
}

.form__field:focus::-webkit-input-placeholder {
  color: #c9ccd4;
}

.form__field:focus:-moz-placeholder {
  color: #c9ccd4;
}

.form__field:focus::-moz-placeholder {
  color: #c9ccd4;
}

.form__field:focus:-ms-input-placeholder {
  color: #c9ccd4;
}

.form__submit {
  width: 100%;
  height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  background: #0ad9c6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #0ad9c6;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 0;
}

.form__submit:hover {
  border: 3px solid #ffffff;
}

.form__submit:focus {
  color: #ffffff;
  border: 3px solid #ffffff;
}
/*# sourceMappingURL=header.css.map */