.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 98px 0;
}

.footer__body h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  text-align: center;
  margin: 0 0 30px;
  padding-right: 10px;
}

.footer__address {
  font-size: 17px;
  line-height: 31px;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 193px 0 178px;
  margin-bottom: 10px;
  max-width: 555px;
}

.footer__map {
  width: 100%;
  height: 100%;
}

.footer__map iframe {
  width: 954px;
  height: 530px;
  margin: 30px 35px 35px;
}

.footer__contacts {
  max-width: 564px;
}

.footer__contacts a {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer__email:hover,
.footer__tel:hover {
  opacity: 0.8;
}

.footer__email:active,
.footer__tel:active {
  opacity: 0.5;
}

.footer__email {
  margin-right: 90px;
  position: relative;
  padding-left: 41px;
}

.footer__email::before {
  content: url(../img/vector.svg);
  display: block;
  width: 26px;
  height: 20px;
  position: absolute;
  left: 0;
}

.footer__tel {
  position: relative;
  padding-left: 33px;
}
.footer__tel::before {
  content: url(../img/icon.svg);
  display: inline-block;
  width: 17.47px;
  height: 18.68px;
  position: absolute;
  left: 0;
  top: -2px;
}

@media only screen and (max-width: 1023px) {
  .footer__body {
    padding: 70px 35px;
  }

  .footer__body h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .footer__address {
    padding: 0;
    margin-bottom: 20px;
    max-width: 630px;
  }

  .footer__map {
    margin-bottom: 19px;
  }

  .footer__map iframe {
    width: 698px;
    height: 545px;
    margin: 0;
  }

  .footer__contacts {
    padding-bottom: 0;
    margin: 0;
  }
  .footer__email {
    margin-right: 90px;
    padding-left: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .footer__body {
    padding: 70px 0;
  }

  .footer__body h2 {
    font-size: 18px;
    margin: 0 92px 20px;
  }

  .footer__address {
    margin: 0 25px 20px;
  }

  .footer__map {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__map iframe {
    width: 320px;
    height: 250px;
    margin: 0;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__email {
    margin-right: -7px;
    margin-bottom: 22px;
  }
  .footer__tel {
    padding-left: 27px;
    padding-bottom: 20px;
  }
  .footer__tel::before {
    left: -7px;
  }
}
