.header {
  width: 100%;
}
.header__wrapper {
  width: 100%;
  min-height: 825px;
  background: url(../img/bike@1x.jpg) center top no-repeat #1f1f1f;
  background-size: cover;
}

.header__body {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  padding-bottom: 50px;
  padding-left: 19.44%;
  padding-right: 19.44%;
  margin: 0 auto;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__burger:active,
.header__burger:focus {
  outline: none;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header__wrapper {
    background: url(../img/bike@2x.jpg) center top no-repeat #1f1f1f;
    background-size: cover;
  }
}

@media only screen and (max-width: 1023px) {
  .header__wrapper {
    width: 100%;
    min-height: 684px;
    background: none;
    position: relative;
    &::before {
      content: " ";
      background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 340px;
      z-index: 1;
    }
  }

  .header__wrapper--nojs {
    width: 100%;
    min-height: 754px;
    background: none;
    position: relative;
    &::before {
      content: " ";
      background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
      position: absolute;
      top: 460px;
      left: 0;
      width: 100%;
      height: 340px;
      z-index: 1;
    }
  }

  .header__body {
    padding: 0;
    position: relative;
    z-index: 3;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #0ad9c6;
    border: none;
    z-index: 10;
  }

  .header__burger span {
    position: absolute;
    background-color: #000000;
    width: 22.5px;
    height: 1px;
    left: 13.75px;
    z-index: 10;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: " ";
    position: absolute;
    background-color: #000000;
    width: 22.5px;
    height: 1px;
    left: 13.75px;
    z-index: 10;
    transition: all 0.2s ease 0s;
  }
  .header__burger:before {
    top: 18.5px;
    z-index: 10;
  }
  .header__burger:after {
    bottom: 18px;
    z-index: 10;
  }
  .header__burger.active {
    background-color: transparent;
    position: fixed;
  }

  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    background-color: #48494d;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 18.5px;
    background-color: #48494d;
  }

  .header__burger--nojs {
    display: none;
  }
}

@media only screen and (max-width: 1023px),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .header__wrapper::before {
    content: " ";
    background: url(../img/bike@2x.jpg) center no-repeat #1f1f1f;
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) {
  .header__wrapper::before {
    content: " ";
    background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
    z-index: 1;
  }

  .header__wrapper--nojs {
    width: 100%;
    min-height: 684px;
    background: none;
    position: relative;
    &::before {
      content: " ";
      background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
      position: absolute;
      top: 460px;
      left: 0;
      width: 100%;
      height: 390px;
      z-index: 1;
    }
  }

  .header__body {
    padding: 0 16px;
  }
}
@media only screen and (max-width: 767px),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .header__wrapper::before {
    content: " ";
    background: url(../img/bike@2x.jpg) center no-repeat #1f1f1f;
    background-size: cover;
  }
}
