@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.header {
  width: 100%;

  .header__wrapper {
    width: 100%;
    min-height: 825px;
    background: url(../img/bike@1x.jpg) center top no-repeat #1f1f1f;
    background-size: cover;
  }

  .header__body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding-bottom: 50px;
    padding-left: 19.44%;
    padding-right: 19.44%;
    margin: 0 auto;
  }

  .header__burger {
    display: none;
    cursor: pointer;
  }

  .header__burger:active,
  .header__burger:focus {
    outline: none;
  }

  .menu {
    width: 100%;
    position: relative;
    margin-bottom: 256px;
    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .menu__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .menu__list {
    list-style: none;
    margin: 0;
    padding: 21px 21.5px 9px 18px;
  }

  .menu__link {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    letter-spacing: -0.005em;
    opacity: 0.7;
    cursor: pointer;
  }

  .menu__link:hover {
    color: #0ad9c6;
  }

  .shop {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .shop__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-height: 267px;
    margin-right: 30px;
  }
  .shop__logo {
    margin-bottom: 30px;
  }

  .shop__info h1 {
    font-weight: bold;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: #ffffff;
    margin: 0;
    min-height: 128px;
    margin-bottom: 4px;
  }

  .shop__info p {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.8;
    padding: 0;
  }

  .form {
    width: 100%;
    max-width: 327px;
  }
  .form p {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-top: 5px;
  }

  .form input {
    width: 100%;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c;
    background: #ffffff;
    border: 1px solid #c9ccd4;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px 30px;
    margin-bottom: 20px;
    @include placeholder {
      color: #000000;
      opacity: 0.5;
    }
  }

  .form input:hover {
    border: 3px solid #0ad9c6;
    padding: 14px 28px;
  }

  .form input:focus {
    border: 3px solid #0ad9c6;
    padding: 14px 28px;
  }

  .form input[type="submit"] {
    width: 100%;
    height: 51px;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background: #0ad9c6;
    box-sizing: border-box;
    border: 3px solid #0ad9c6;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 0;
  }

  .form input[type="submit"]:hover {
    border: 3px solid #ffffff;
  }

  .form input[type="submit"]:focus {
    color: #ffffff;
    border: 3px solid #ffffff;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header__wrapper {
      background: url(../img/bike@2x.jpg) center top no-repeat #1f1f1f;
      background-size: cover;
    }
  }
  @media only screen and (max-width: 1023px) {
    .header__wrapper {
      width: 100%;
      min-height: 684px;
      background: none;
      position: relative;
      &::before {
        content: " ";
        background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;
        z-index: 1;
      }
    }

    .header__wrapper--nojs {
      width: 100%;
      min-height: 754px;
      background: none;
      position: relative;
      &::before {
        content: " ";
        background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
        background-size: cover;
        position: absolute;
        top: 460px;
        left: 0;
        width: 100%;
        height: 340px;
        z-index: 1;
      }
    }

    .header__body {
      padding: 0;
      position: relative;
      z-index: 3;
    }

    .logo {
      position: absolute;
      left: 22px;
      top: 25px;
      z-index: 1;
    }

    .header__burger {
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background-color: #0ad9c6;
      border: none;
      z-index: 10;
    }

    .header__burger span {
      position: absolute;
      background-color: #000000;
      width: 22.5px;
      height: 1px;
      left: 13.75px;
      z-index: 10;
      transition: all 0.2s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
      content: " ";
      position: absolute;
      background-color: #000000;
      width: 22.5px;
      height: 1px;
      left: 13.75px;
      z-index: 10;
      transition: all 0.2s ease 0s;
    }
    .header__burger:before {
      top: 18.5px;
      z-index: 10;
    }
    .header__burger:after {
      bottom: 18px;
      z-index: 10;
    }
    .header__burger.active {
      background-color: transparent;
      position: fixed;
    }

    .header__burger.active span {
      transform: scale(0);
    }
    .header__burger.active:before {
      transform: rotate(45deg);
      background-color: #48494d;
    }
    .header__burger.active:after {
      transform: rotate(-45deg);
      top: 18.5px;
      background-color: #48494d;
    }

    .header__burger--nojs {
      display: none;
    }

    .menu {
      height: 100vh;
      margin-bottom: 0;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      background-color: #ffffff;
      transition: all 0.2s ease 0s;
    }

    .menu--nojs {
      height: 450px;
      margin-bottom: 0;
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      background-color: #ffffff;
    }

    .menu.active {
      right: 0;
      z-index: 10;
    }
    .menu__list {
      flex-direction: column;
      padding: 100px 0 138px 0;
    }
    .menu__link {
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;
      color: #48494d;
    }

    .menu__li {
      position: relative;
    }

    .menu__li::after {
      content: url(../img/shape.svg);
      display: block;
      width: 12px;
      height: 7.4px;
      position: absolute;
      top: 20px;
      right: 25px;
      z-index: 10;
    }

    .menu__list li {
      background: #f6f6f6;
      padding: 17px 16px;
      margin-bottom: 30px;
    }

    .shop {
      flex-direction: column;
      padding-top: 135px;
    }

    .shop__logo {
      margin-bottom: 0;
    }

    .shop__info {
      width: 100%;
      flex: 0;
      align-self: center;
      min-height: 128px;
      margin-right: 0;
      margin-bottom: 107px;
      text-align: center;
    }

    .shop__info h1 {
      font-size: 30px;
      line-height: 42px;
      min-height: 42px;
      margin-bottom: 20px;
    }

    .shop__info p {
      height: 96px;
      font-size: 18px;
      line-height: 32px;
      margin: 0;
    }

    .form {
      max-width: 321px;
      margin: 0px auto;
    }

    .form p {
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .form input {
      padding: 12px 21px;
    }
  }

  @media only screen and (max-width: 1023px),
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .header__wrapper::before {
      content: " ";
      background: url(../img/bike@2x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
    }
  }

  @media only screen and (max-width: 767px) {
    .header__wrapper::before {
      content: " ";
      background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 390px;
      z-index: 1;
    }

    .header__wrapper--nojs {
      width: 100%;
      min-height: 684px;
      background: none;
      position: relative;
      &::before {
        content: " ";
        background: url(../img/bike@1x.jpg) center no-repeat #1f1f1f;
        background-size: cover;
        position: absolute;
        top: 460px;
        left: 0;
        width: 100%;
        height: 390px;
        z-index: 1;
      }
    }

    .header__body {
      padding: 0 16px;
    }
    .logo {
      left: 16px;
    }

    .shop {
      padding-top: 120px;
    }

    .shop__info {
      min-height: 200px;
      margin-bottom: 140px;
    }

    .shop__info p {
      margin: 0;
    }

    .form p {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0;
    }

    .form input {
      padding: 13px 19px 11px 26px;
    }
  }
  @media only screen and (max-width: 767px),
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .header__wrapper::before {
      content: " ";
      background: url(../img/bike@2x.jpg) center no-repeat #1f1f1f;
      background-size: cover;
    }
  }
}
