.shop {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.shop__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  min-height: 267px;
  margin-right: 30px;
}
.shop__logo {
  margin-bottom: 30px;
}

.shop__info h1 {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin: 0;
  min-height: 128px;
  margin-bottom: 4px;
}

.shop__info p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 0;
}

@media only screen and (max-width: 1023px) {
  .shop {
    flex-direction: column;
    padding-top: 135px;
    position: relative;
  }

  .shop__info {
    width: 100%;
    flex: 0;
    align-self: center;
    min-height: 128px;
    margin-right: 0;
    margin-bottom: 107px;
    text-align: center;
  }

  .shop__logo {
    margin-bottom: 0;
    position: absolute;
    left: 22px;
    top: 25px;
    z-index: 1;
  }

  .shop__info h1 {
    font-size: 30px;
    line-height: 42px;
    min-height: 42px;
    margin-bottom: 20px;
  }

  .shop__info p {
    height: 96px;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .shop {
    padding-top: 120px;
  }

  .shop__info {
    min-height: 200px;
    margin-bottom: 140px;
  }

  .shop__info p {
    margin: 0;
  }

  .shop__logo {
    left: 0;
  }
}
