.video {
  width: 100%;

  .video__wrapper {
    width: 100%;
    min-height: 804px;
    position: relative;
    &::before {
      content: "";
      background-color: #131314;
      width: 100%;
      height: 706px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .video__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 930px;
    padding-top: 120px;
    padding-left: 17.77%;
    padding-right: 17.77%;
    margin: 0 auto;
  }

  .video__body h2 {
    color: #ffffff;
    margin-bottom: 4px;
    padding-right: 10px;
  }

  .video__body p {
    max-width: 340px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    opacity: 0.7;
    margin-bottom: 56px;
    padding-left: 15px;
  }

  .video__block {
    width: 929px;
    height: 522px;
    position: relative;
  }

  .video__button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .video__button:hover,
  .video__button:focus {
    opacity: 0.8;
  }

  .video__button:active {
    opacity: 0.5;
  }

  .video__button:active,
  .video__button:focus {
    outline: none;
  }

  @media only screen and (max-width: 1023px) {
    .video__wrapper {
      width: 100%;
      min-height: 498px;
      position: relative;
      &::before {
        content: "";
        background-color: #131314;
        width: 100%;
        height: 413px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    .video__body {
      max-width: 503px;
      padding-top: 70px;
      padding-left: 17.31%;
      padding-right: 17.31%;
    }

    .video__body h2 {
      padding-right: 0;
      font-size: 24px;
    }

    .video__body p {
      max-width: 429px;
      margin-bottom: 40px;
      text-align: center;
      padding-left: 0;
    }

    .video__block img {
      width: 503px;
      height: 282px;
      object-fit: cover;
    }
    .video__block {
      width: 503px;
      height: 282px;
      position: relative;
    }
    .video__button {
      width: 91px;
      height: 91px;
    }

    .video__button-img {
      width: 91px;
      height: 91px;
    }
  }
  @media only screen and (max-width: 767px) {
    .video__wrapper {
      width: 100%;
      min-height: 433px;
      position: relative;
      &::before {
        content: "";
        background-color: #131314;
        width: 100%;
        height: 384px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    .video__body {
      max-width: 290px;
      padding-top: 84px;
      padding-left: 14px;
      padding-right: 16px;
    }
    .video__body h2 {
      padding-right: 8px;
      font-size: 24px;
    }
    .video__body p {
      max-width: 290px;
      margin-bottom: 53px;
    }

    .video__block img {
      width: 288px;
      height: 162px;
      object-fit: cover;
    }
    .video__block {
      width: 288px;
      height: 162px;
      position: relative;
    }

    .video__button {
      width: 65px;
      height: 65px;
    }
  }
}
